{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="login_username_textinput">Username</label>
    <input name="username" id="login_username_textinput" required>
    <label for="login_password_textinput">Password</label>
    <input type="password" name="password" id="login_password_textinput" required>
    <input type="submit" id="login_submit_button" value="Log In">
  </form>
{% endblock %}
