{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/shop.css') }}">
{% endblock %}

{% block title %}
  Shop Now
{% endblock title %}

{% block header %}
  <form id="product-filter-form" class="product-filters">
    <label for="category">Category:</label>
    <select id="category-select" name="category">
      <option>All</option>

      {% for category in product_categories %}<option value="{{ category.id }}">{{ category.name }}</option>{% endfor %}
    </select>
  </form>
{% endblock header %}

{% block content %}
  <div class="products-container">

    {% for product in products %}
      <div class="product" data-product-category="{{ product.category_id }}">
        <div class="product-image">
          <img width="auto"
               height="auto"
               src="{{ url_for('static', filename='images/' + product.name.lower().replace(' ', '-') + '.jpg') }}"
               alt="{{ product.name }}" />
        </div>
        <div class="product-info-container">
          <p class="product-name">{{ product.name }}</p>
          <p class="product-price">${{ product.price }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}

{% block scripts %}
  <script>
    // Set the category select to the current category (it resets to "All" on page refresh without this)
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const category = urlParams.get('category');
    console.log(category);

    const categorySelect = document.getElementById('category-select');
    if (category) {
      categorySelect.value = category;
    }

    // Submit the filter form when the category select changes
    const filterForm = document.getElementById('product-filter-form');

    categorySelect.addEventListener('change', (event) => {
      filterForm.submit();
    });
  </script>
{% endblock scripts %}
