{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/shop.css') }}">
{% endblock %}

{% block title %}
  Shop Now
{% endblock title %}

{% block header %}
  <div class="product-filters">
    <label for="category">Category:</label>
    <select id="category-select" name="category">
      <!-- TODO: get these categories from database -->
      <option>All</option>
      <option>Shirts</option>
      <option>Pants</option>
      <option>Accessories</option>
    </select>
  </div>
{% endblock header %}

{% block content %}
  <div class="products-container">
    <!-- TODO: get products from database -->
    <div class="product">
      <div class="product-image"></div>
      <div class="product-info-container">
        <p class="product-name">T-Shirt</p>
        <p class="product-price">$9,999</p>
      </div>
    </div>
    <div class="product">
      <div class="product-image"></div>
      <div class="product-info-container">
        <p class="product-name">T-Shirt</p>
        <p class="product-price">$9,999</p>
      </div>
    </div>
    <div class="product">
      <div class="product-image"></div>
      <div class="product-info-container">
        <p class="product-name">T-Shirt</p>
        <p class="product-price">$9,999</p>
      </div>
    </div>
    <div class="product">
      <div class="product-image"></div>
      <div class="product-info-container">
        <p class="product-name">T-Shirt</p>
        <p class="product-price">$9,999</p>
      </div>
    </div>
    <!-- {% for item in items %} -->
    <!--   <div> -->
    <!--     <img src="{{ item.image }}" alt="{{ item.name }}"> -->
    <!--     <h3>{{ item.name }}</h3> -->
    <!--     <p>{{ item.description }}</p> -->
    <!--     <p>{{ item.price }}</p> -->
    <!--     <button>Add to Cart</button> -->
    <!--   </div> -->
    <!-- {% endfor %} -->
  </div>
{% endblock content %}
