{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/shop.css') }}">
{% endblock %}

{% block title %}
  Shop Now
{% endblock title %}

{% block header %}
  <div class="product-filters">
    <label for="category">Category:</label>
    <select id="category-select" name="category">
      <option>All</option>

      {% for category in product_categories %}<option>{{ category.name }}</option>{% endfor %}
    </select>
  </div>
{% endblock header %}

{% block content %}
  <div class="products-container">

    {% for product in products %}
      <div class="product">
        <div class="product-image"></div>
        <div class="product-info-container">
          <p class="product-name">{{ product.name }}</p>
          <p class="product-price">${{ product.price }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
