<!doctype html>
<head>
  <title>{% block title %}{% endblock %} - Flaskr</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  {% block head %}{% endblock %}
</head>
<nav>
  <h1>Cool Clothing</h1>
  <ul>
    <li><a id="base_home_anchor" href="{{ url_for('shop.index') }}">Shop</a></li>
    {% if g.user %}
      <li><a id="base_profile_anchor" href="{{ url_for('cart.index') }}">My Cart</a></li>
      <li><a id="base_logout_anchor" href="{{ url_for('auth.logout') }}">Log Out</a></li>
    {% else %}
      <li><a id="base_login_anchor" href="{{ url_for('auth.login') }}">Log In</a></li>
      <li><a id="base_register_anchor" href="{{ url_for('auth.register') }}">Register</a></li>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

{% block scripts %}{% endblock %}
