.content {
    margin: auto;
    width: 330px;
}

.content h1 {
    text-align: center;
}

.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.content label {
    margin-bottom: 0.5em;
}

.content input {
    margin-bottom: 1em;
    border-radius: 0;
    border: 1px solid black;
}

input.danger {
    color: #cc2f2e;
}

input[type="submit"] {
    border: 0;
    color: white;
    background-color: black;
    align-self: start;
    min-width: 7em;
    min-height: 2em;
}
